<app-header></app-header>
<h1>Angular App</h1>
<!-- <app-task-form></app-task-form> -->
<button (click)="getTasks()">Get Json Data</button>
<div *ngFor="let task of tasksany | async">
    {{task.title | json}}
</div>
<button (click)="subscribeTodos()">Subscribe Todos</button>
<div *ngFor="let task of tasks">
    {{task.title | json}}
</div>
<router-outlet></router-outlet>
