<div class="task-table-container">
    <h6>Child Component</h6>
    <table class="task-table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
          </tr>
    </table>
{{taskTitle}}

<label for="child-input">Child Input</label>
<input type="text" id="child-input" #childInput>
<button (click)="logData(childInput.value)">Send Data from Child to Parent</button>

</div>


