<mat-toolbar>
    <button mat-icon-button class="example-icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>Task Tracker</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" (click)="getDatafromService()">
     <mat-icon>assignment_ind</mat-icon>
   </button>
   <button mat-icon-button class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
  {{pretendData}}
 </mat-toolbar>
