<div class="task-form-container">
  <h6>Parent Component</h6>
  <mat-form-field appearance="fill">
    <mat-label>Task Title</mat-label>
    <input matInput type="text" name="task" [(ngModel)]="taskTitle" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Task Description</mat-label>
    <textarea matInput [(ngModel)]="taskDescription"></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="taskPriority">
      <mat-option value=3>High</mat-option>
      <mat-option value=2>Medium</mat-option>
      <mat-option value=1>Low</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-fab color="primary" type="button" (click)="addTask({taskTitle,taskDescription,taskPriority})">
    <mat-icon>add</mat-icon>
  </button>
</div>
{{data}}
<app-task-table [taskTitle]="taskTitle" (logEvent)="logData($event)"></app-task-table>
